.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: 100vw;
    height: calc(100vh - 64px);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
    width: 240px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
}

.container {
    width: 800px;
    margin: 3rem auto;
}