.container {
    width: 80%;
    margin: 1rem auto;

    h1 {
        color: #fff;
    }
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
}