<p mat-dialog-title>Add new entry</p>

<main mat-dialog-content>

    <!-- REACTIVE FORM -->
    <form [formGroup]="votingTypesForm">
        <!-- NAME -->
        <mat-form-field appearance="outline">
            <mat-label>Type Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <!-- PRIORITY -->
        <mat-form-field appearance="outline">
            <mat-label>Type Priority</mat-label>
            <input matInput placeholder="riority" type="number" formControlName="Priority">
        </mat-form-field>

        <!-- CONTENT -->
        <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput placeholder="Tye description here" rows="5" formControlName="content">
        </textarea>
        </mat-form-field>
    </form>

</main>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button (click)="addVotingType()">{{actionButtonLabel}}</button>
</div>